body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input, form textarea, form button {
    width: 80%;
    margin: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    text-decoration: none;
    color: white;
    background-color: #333;
    border-radius: 5px;
}

.trip-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.trip {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 300px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.trip h3 {
    color: #333;
}

.trip p {
    margin: 5px 0;
}
